h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-left:60px;
    font-size: 30px;
    font-weight: 700;
    color: #1f2937;
}
.container {
    max-width: 1000px; 
    margin: 50px auto;
    padding-left: 200px; /* 사이드바 공간 확보 */
    padding-right: 32px;
}

/* 카드 */
.card {
    background-color: #ffffff;
    padding: 14px;
    border-radius: 16px;
    margin-bottom: 24px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.08);
    height: 480px;
}

.chart-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 x 2 */
    gap: 60px;
    padding-left: 100px;
}

/* 차트 래퍼 */
.chart-wrapper {
    position: relative;
    text-align: center;
}

/* 도넛 크기 유지 */
.donut-wrapper {
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}
