/* template-management.css */

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    color: #1f2937;
}


/* 테이블 */

#templateTable {
    width: 100%;
    min-width : 700px;
    table-layout: fixed; 
    
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}


#templateTable th:nth-child(1),
#templateTable td:nth-child(1) { width: 50px; }   /* ID */

#templateTable th:nth-child(2),
#templateTable td:nth-child(2) { width: 100px; }  /* 템플릿 이름 */

#templateTable th:nth-child(3),
#templateTable td:nth-child(3) { width: 80px; }  /* 메시지 타입 */

#templateTable th:nth-child(4),
#templateTable td:nth-child(4) { width: 250px; }  /* 내용 */

#templateTable th:nth-child(5),
#templateTable td:nth-child(5) { width: 100px; }  /* 액션 */

#templateTable td {
    white-space: normal;     /* 줄바꿈 허용 */
    overflow: visible;
    text-overflow: clip;
    word-break: break-word; /* 긴 단어도 줄바꿈 */
}


#templateTable th, #templateTable td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

#templateTable th {
    background-color: #3498db;
    color: #fff;
}

#templateTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* 액션 버튼 */
.action-btn {
    cursor: pointer;
    margin-right: 10px;
}

/* 폼 섹션 */
.form-section {
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.form-section h3 {
    margin-top: 0;
}

.form-section label {
    display: block;
    margin-top: 10px;
    font-weight: 600;
}

.form-section input[type="text"],
.form-section select,
.form-section textarea {
    width: 100%;
    padding: 8px 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-section button {
    margin-top: 15px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.form-section button:first-of-type {
    background-color: #3498db;
}

.form-section button:last-of-type {
    background-color: #e74c3c;
    margin-left: 10px;
}

/* 템플릿 추가 버튼 */
#btnAddTemplate {
    background-color: #6cb2eb;   /* 연한 블루 */
    border-color: #6cb2eb;
    
}

#btnAddTemplate:hover {
    background-color: #5aa3e0;
    border-color: #5aa3e0;
}

.optionAndBtn{
	display: flex !important;;
    justify-content: space-between; /* 양 끝으로 */
    align-items: center;            /* 세로 가운데 */
    width: 100%;
    
}

.btnAndOption{
    display: flex;
    align-items: center;
}




